/* === FARBEN === */

/*
Blau:         #1F4E8C
Dunkel Grau:  #3D3F45
Hell Grau:    #E5E5E5
Rot:          #A62C21
*/

/* === GLOBAL === */

body {
  margin: 0;
  font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

/* === GENERELLES === */

.versteckt {
  display: none;
}

.wichtiger-text {
  font-weight: bold;
}

.heller-text {
  color: #FFF;
}

.haupttext {
  text-align: center;
  font-size: 1.2rem;
}

.platzhalter-oben {
  margin-top: .25rem;
}

.btn-typ-1 {
  height: 2rem;
  background-color: #A62C21;
  border: 3px solid #A62C21;
  color: #FFF;
  font-size: 1rem;
}

/* === NAVIGATIONSLEISTE === */

.header-nav {
  width: 100%;
  height: 50px;
  background-color: #3D3F45;
  font-weight: bold;
  font-size: 1.1rem;
}

.header-nav > .container,
.header-nav > .container > .row,
.header-nav > .container > .row > .col-6 {
  height: 100%;
}

.header-nav-logo {
  height: 30px;
  width: auto;
  float: left;
  margin-top: .5rem;
}

.header-nav-list {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
}

.header-nav-list > li {
  display: inline-block;
  height: 100%;
  padding: 0 .4rem 0 .4rem;
}

.header-nav-list > li > a {
  margin-top: .8rem;
  display: inline-block;
}

.header-nav-list > li > a:link {
  color: #FFF;
  text-decoration: none;
}

.header-nav-list > li > a:hover {
  color: #E5E5E5;
  text-decoration: none;
}

.header-nav-list > li > a:active {
  color: #E5E5E5;
  text-decoration: none;
}

.header-nav-list > li > a:visited {
  color: #FFF;
  text-decoration: none;
}

.header-nav .col-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.active {
  background-color: #A62C21;
}

/* === NAVIGATIONSLEISTE (MOBILE) === */

.mobile-nav-container {
  display: none;
}

.mobile-nav-icon {
  display: block;
  padding: .2rem .8rem .4rem .8rem;
  color: #FFF;
  border: 2px solid #FFF;
  margin-top: .4rem;
  margin-left: 3rem;
}

.mobile-nav-content {
  display: none;
}

.mobile-nav-dropdown {
  float: right;
  position: relative;
}

.mobile-nav-dropdown:hover > .mobile-nav-content {
  display: block;
}

.mobile-nav-content > ul {
  list-style: none;
  padding: 0;
  margin-top: .4rem;
  position: absolute;
  top: 37px;
  right: 0;
}

.mobile-nav-content > ul > .mobile-active {
  background-color: #A62C21;
  color: #FFF;
}

.mobile-nav-content > ul > li {
  background-color: #3D3F45;
  height: 50px;
  padding: .8rem 1.2rem;
}

.mobile-nav-content > ul > li > a:visited {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.mobile-nav-content > ul > li > a:active {
  color: #E5E5E5;
  text-decoration: none;
  font-weight: bold;
}

.mobile-nav-content > ul > li > a:link {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.mobile-nav-content > ul > li > a:hover {
  color: #E5E5E5;
  text-decoration: none;
  font-weight: bold;
}

@media all and (max-width: 768px) {

  .nav-container {
    display: none;
  }

  .mobile-nav-container {
    display: block;
  }

}

/* === HEADER-BANNER === */

.header-banner {
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background: url("../img/hintergrund.jpg") no-repeat;
  background-size: contain;
}

.header-banner-klein {
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  background: url("../img/hintergrund-klein.jpg") no-repeat;
  background-size: contain;
}

/* === NEWSLETTER-BEREICH === */

.newsletter-bereich {
  width: 100%;
  background-color: #3D3F45;
}

.newsletter-formular {
  margin-right: auto;
  margin-left: auto;
}

.nb-mobile {
  display: none;
}

.nb-email-input {
  width: 60%;
  height: 2rem;
  padding: .4rem .4rem;
  margin-right: 1rem;
  background-color: #FFF;
  border: 3px solid #FFF;
  color: #FFF;
}

.nb-btn {
  font-size: 0.8rem;
}

@media (max-width: 1268px) {

  .nb-email-input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .nb-btn {
    width: 100%;
  }

}

@media (max-width: 768px) {

  .nb-desktop {
    display: none;
  }

  .nb-mobile {
    display: block;
  }

  .nb-email-input {
    height: 1.6rem;
    border: 3px solid #FFF;
  }

  .nb-btn {
    height: 1.6rem;
    font-size: .9rem;
  }

}

/* === GRID-System === */

.container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.row:after {
  content:"";
  display: table;
  clear:both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 12px;
}

.col-1{ width: 16.666%; }
.col-2{ width: 33.333%; }
.col-3{ width: 50%;     }
.col-4{ width: 66.666%; }
.col-5{ width: 83.333%; }
.col-6{ width: 100%;    }

@media all and (max-width: 1024px) {

  .col-1{ width: 33.333%; }
  .col-2{ width: 33.333%; }
  .col-3{ width: 100%;    }
  .col-6{ width: 100%;    }

}

@media all and (max-width: 768px) {

  .col-1{ width: 50%;   }
  .col-2{ width: 100%;  }
  .col-3{ width: 100%;  }
  .col-6{ width: 100%;  }

}

@media all and (max-width: 320px) {

   .col-1{ width: 100%; }
   .col-2{ width: 100%; }
   .col-3{ width: 100%; }
   .col-6{ width: 100%; }

}
